@model CatalogViewModel

@{
    ViewData["Title"] = "Catalog";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/catalog.css">
}

<div class="title-block__wrapper">
    <div class="catalog-section__title-block">
        <p class="title-page">Products</p>
        <a href="#!" class="subtitle-page">List</a>
    </div>
</div>
<div class="catalog__wrapper">
    <div class="catalog-section container">
        <div class="catalog">
            <div class="catalog__filters">
                <div class="catalog__filters-header">
                    <p class="filters-header__title">Filters:</p>
                    <a href="catalog.html" class="filters-header__clear">Clear All</a>
                </div>
                <ul class="filters__list">
                    <li class="filters__item">
                        <p class="filters__item-title">Category</p>
                        <div class="filters__item-child">
                            <label for="NameCategory1" class="filters__item-label"><input type="checkbox" name="category" id="NameCategory1">Dresses</label>
                            <label for="NameCategory2" class="filters__item-label"><input type="checkbox" name="category" id="NameCategory2">Dresses</label>
                            <label for="NameCategory3" class="filters__item-label"><input type="checkbox" name="category" id="NameCategory3">Dresses</label>
                            <label for="NameCategory4" class="filters__item-label"><input type="checkbox" name="category" id="NameCategory4">Dresses</label>
                            <label for="NameCategory5" class="filters__item-label"><input type="checkbox" name="category" id="NameCategory5">Dresses</label>
                        </div>
                    </li>
                    <li class="filters__item">
                        <p class="filters__item-title">Size</p>
                        <div class="filters__item-child">
                            <label for="size1" class="filters__item-label"><input type="checkbox" name="category" id="size1">XS</label>
                            <label for="size2" class="filters__item-label"><input type="checkbox" name="category" id="size2">S</label>
                            <label for="size3" class="filters__item-label"><input type="checkbox" name="category" id="size3">M</label>
                            <label for="size4" class="filters__item-label"><input type="checkbox" name="category" id="size4">L</label>
                            <label for="size5" class="filters__item-label"><input type="checkbox" name="category" id="size5">XL</label>
                            <label for="size6" class="filters__item-label"><input type="checkbox" name="category" id="size6">XXL</label>
                        </div>
                    </li>
                    <li class="filters__item">
                        <p class="filters__item-title">Brand</p>
                        <div class="filters__item-child">
                            <label for="brand1" class="filters__item-label"><input type="checkbox" name="category" id="brand1">BMW</label>
                            <label for="brand2" class="filters__item-label"><input type="checkbox" name="category" id="brand2">Porsche</label>
                            <label for="brand3" class="filters__item-label"><input type="checkbox" name="category" id="brand3">Mercedes</label>
                            <label for="brand4" class="filters__item-label"><input type="checkbox" name="category" id="brand4">Bugatti</label>
                            <label for="brand5" class="filters__item-label"><input type="checkbox" name="category" id="brand5">Marussia</label>
                        </div>
                    </li>
                    <!-- <li class="filters__item">
                      <p class="filters__item-title">Price</p>
                      <div class="filters__item-child">
                        <span class="rangeValues"></span>
                        <input value="500" min="500" max="50000" step="500" type="range">
                        <input value="50000" min="500" max="50000" step="500" type="range">
                      </div>
                    </li> -->
                </ul>
            </div>
            <div class="catalog__shop">
                <div class="catalog__shop-header">
                    <p class="shop-header__showing">Showing <span class="shop-header__number">@Model.Products.Count of @Model.TotalAmount</span> Product</p>
                    <div class="shop-header__sort-by">
                        <p class="sort-by__desk">Sort by:</p>
                        <select class="sort-by__select">
                            <option value="0" class="sort-by__option">Date</option>
                            <option value="2" class="sort-by__option">Price</option>
                        </select>
                    </div>
                </div>
                <ul class="catalog__list">
                    @if (Model.Products != null && Model.Products.Any())
                    {
                        @foreach (var product in Model.Products)
                        {
                            <li class="catalog__product">
                                <div class="product__img-wrapper">
                                    <a href="/Catalog/Product/@product.Id">
                                        <img src="@product.Picture" class="product__img">
                                    </a>
                                </div>
                                <p class="product__title">@product.Name</p>
                                <p class="product__price"><span class="product__price-span">@product.Price.ToString("# rub")</span></p>
                                <a class="product__btn" href="/Cart/AddToCart/@product.Id" id="@product.Id">Add to cart</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="btns__next-page">
        <a class="next-page__btn next-page__btn--next" href="/Catalog/@Model.CalculatePrevious()"><</a>
        @for (int i = Model.CurrentPage; i < Model.CurrentPage + 4 && i <= Model.NumberOfPages; i++)
        {
            <a class="next-page__btn next-page__btn--next" href="/Catalog/@i">@i</a>
            if (Model.NumberOfPages > 4)
            {
                <a class="next-page__btn next-page__btn--span">...</a>
                <a class="next-page__btn next-page__btn--last" href="/Catalog/@Model.NumberOfPages">@Model.NumberOfPages</a>
            }
        }
        <a class="next-page__btn next-page__btn--next" href="/Catalog/@Model.CalculateNext()">></a>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/catalog.js"></script>
}