@model ProductViewModel

@{
    ViewData["Title"] = "Product";
}

@section Styles {
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/pages/product-page.css">
}   

<section class="main-section">
    <div class="main-section__wrapper container">
        <div class="imgs-wrapper">
            <div class="imgs-wrapper__preview-wrapper">
                <div class="preview-wrapper__img-wrapper" style="background-image: url(@Model.Product.Picture);">
                    <img src="@Model.Product.Picture" class="preview-wrapper__img">
                </div>
                @foreach (var img in Model.Product.Images)
                {
                    <div class="preview-wrapper__img-wrapper" style="background-image: url(@img.Image);">
                        <img src="@img.Image" class="preview-wrapper__img">
                    </div>
                }
            </div>
            <div class="imgs-wrapper__show-wrapper">
                <img src="@Model.Product.Picture" class="show-wrapper__img">
            </div>
        </div>
        <div class="product-info">
            <p class="product-info__title">@Model.Product.Name</p>
            <p class="product-info__article">@Model.Product.VendorCode</p>
            <p class="product-info__price">@Model.Product.Price.ToString("# .00 rub")</p>
            <p class="product-info__desk">@Model.Product.Description</p>
            <label for="qty" class="qty-label">Qty: <input type="number" class="qty-input" value="1"></label>
            <button class="btn-cart">Add to cart</button>
            <ul class="category__list">
                @if (Model.GetCategories().Any())
                {
                    <span>Categories:</span>
                    foreach(var cat in Model.GetCategories())
                    {
                        <li class="category__item">
                            <a class="category__link">@cat</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/pages/product-page.js"></script>
}