@model ProductViewModel

@{
    ViewData["Title"] = "Product";
}

@section Styles {
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/pages/product-page.css">
}   

<section class="main-section">
    <div class="main-section container">
        <div class="main-section__img-block">
            @if (Model.Images != null && Model.Images.Any())
            {
                foreach (var item in Model.Images)
                {
                    <img src="@item" class="img-block">
                }
            }
        </div>
        <div class="main-section__info-product">
            <p class="info-product__name">@Model.Product.Name</p>
            <div class="info-product__rating-block">
                <div class="info-product__rating-item"></div>
                <div class="info-product__rating-item"></div>
                <div class="info-product__rating-item"></div>
                <div class="info-product__rating-item"></div>
                <div class="info-product__rating-item"></div>
            </div>
            <div class="info-product__price">$<span class="price">@Model.Product.Price.ToString("# rub")</span><span class="info-product__price--sale">@Model.Product.Price</span></div>
            <p class="info-product__subtitle">@Model.Product.Description</p>
            <div class="info-product__criterial">
                <div class="criterial-wrapper">
                    <p class="criterial-title">Criterion:</p>
                    <select name="size-product" class="criterial-product__input criterial-product__option">
                        <option value="none">Value 1</option>
                        <option value="small">Value 2</option>
                        <option value="medium">Value 3</option>
                        <option value="large">Value 4</option>
                        <option value="extra-large">Value 5</option>
                    </select>
                </div>
                <div class="criterial-wrapper">
                    <p class="criterial-title">Qty:</p>
                    <div class="criterial-product__input criterial-product__count">
                        <button class="criterial-product__count-btn criterial-product__count--down">-</button>
                        <input type="number" class="criterial-product__count-input" min="1" max="10" value="1">
                        <button class="criterial-product__count-btn criterial-product__count--up">+</button>
                    </div>
                </div>
                <button class="add-to-cart">add to cart</button>
            </div>
            <div class="main-section__subinfo">
                <div class="subinfo__category-block">
                    <div class="category-block__desk">Category: 
                        @foreach (var category in Model.GetCategories())
                        {
                            <span class="category-block__span"><a href="/Catalog/Categories/@category" class="category-block__link">@category</a></span>
                        }
                </div>
                <div class="desk-block__wrapper">
                    <p class="desk-block__title">Description</p>
                    <p class="desk-block__desk">@Model.Product.Description</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rec-product-wrapper">
    <div class="rec-product container">
        <p class="res-product__title">You May Also Like</p>
        <ul class="rec-product__list">
            @* ? *@
            <li class="rec-product__products-card">
                <img src="/img/hqd.jpg" class="products-card__img">
                <p class="products-card__title">(Название товара)</p>
                <p class="products-card__price">(Цена)</p>
                <button class="products-card__btn" id="1">Add to cart</button>
            </li>
        </ul>
    </div>
</section>

@section Scripts {
    <script src="~/js/pages/product-page.js"></script>
}